<!-- Carousel -->
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

        <div class="carousel-item text-center bg-cover bg-dark vh-100 active slide-1">
            <div class="container h-100 d-flex aling-items-center justify-content-center">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h6 class="text-white">BIENVENIDO A QRISPY</h6>
                        <h1 class="display-1 my-3 fw-bold text-white">A la brasa y relleno de sabor</h1>
                        <a href="#" class="btn btn-brand">Reserva</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item text-center bg-cover bg-dark vh-100 slide-2">
            <div class="container h-100 d-flex aling-items-center justify-content-center">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h6 class="text-white">BIENVENIDO A QRISPY</h6>
                        <h1 class="display-1 my-3 fw-bold text-white">Fresco & Comida sabrosa</h1>
                        <a href="#" class="btn btn-brand">Reserva</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#heroSlider" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#heroSlider" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Acerca de -->
<section id="about">
    <div class="container">
        <div class="row gy-4 align-items-center">
            <div class="col-lg-5">
                <img src="images/about_new.png" alt="">
            </div>
            <div class="col-lg-5">
                <h1>Acerca de</h1>
                <div class="divider my-4"></div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, blanditiis dolore. Inventore
                    iure, consequatur excepturi labore asperiores eaque? Labore, commodi. Officia qui delectus
                    laborum veritatis eos? Quo itaque in obcaecati.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis dolorum libero quisquam ipsum
                    sit. Laborum quae, repellendus, minus vitae beatae officia dolorum omnis provident sed amet
                    explicabo, reiciendis unde obcaecati.</p>
                <a href="#" class="btn btn-brand">Explorar Menú</a>
            </div>
        </div>
    </div>
</section>

<!-- Menú -->
<section id="menu" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12 intro-text">
                <h1>Explora nuestro Menú</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A ad nesciunt distinctio saepe,
                    accusamus maxime reiciendis nisi.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <ul class="nav nav-pills mb-4 justify-content-center" id="pills-tab" role="tablist">

            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all"
                    type="button" role="tab" aria-controls="pills-all" aria-selected="true">Todos los Menú</button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-breakfast-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-breakfast" type="button" role="tab" aria-controls="pills-breakfast"
                    aria-selected="true">Desayuno</button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-lunch-tab" data-bs-toggle="pill" data-bs-target="#pills-lunch"
                    type="button" role="tab" aria-controls="pills-lunch" aria-selected="true">Almuerzo</button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-dinner-tab" data-bs-toggle="pill" data-bs-target="#pills-dinner"
                    type="button" role="tab" aria-controls="pills-dinner" aria-selected="true">Cena</button>
            </li>

        </ul>

        <div class="tab-content" id="pills-tabContent">

            <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab"
                tabindex="0">

                <div class="row gy-4">
                    <div class="col-lg-3 col-sm-6">
                        <div class="menu-item bg-white shadow-on-hover">
                            <img src="images/item_1.jpg" alt="">
                            <div class="menu-item-content p-4">
                                <div>
                                    <span>Rated(5.4)</span>
                                    <span class="stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-fill"></i>
                                    </span>
                                </div>
                                <h5 class="mt-1 mb-2"><a href="#">Berenjena rellena con ensalada</a></h5>
                                <p class="small">Baked salmon to a fresh salad made with chickpeas, arugula, herbs
                                    and olives</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="menu-item bg-white shadow-on-hover">
                            <img src="images/item_2.jpg" alt="">
                            <div class="menu-item-content p-4">
                                <div>
                                    <span>Rated(5.4)</span>
                                    <span class="stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-fill"></i>
                                    </span>
                                </div>
                                <h5 class="mt-1 mb-2"><a href="#">Tallarines con salsa y almejas</a></h5>
                                <p class="small">Baked salmon to a fresh salad made with chickpeas, arugula, herbs
                                    and olives</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="menu-item bg-white shadow-on-hover">
                            <img src="images/item_3.jpg" alt="">
                            <div class="menu-item-content p-4">
                                <div>
                                    <span>Rated(5.4)</span>
                                    <span class="stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-fill"></i>
                                    </span>
                                </div>
                                <h5 class="mt-1 mb-2"><a href="#">Tostadas con canela y Frutos secos</a></h5>
                                <p class="small">Baked salmon to a fresh salad made with chickpeas, arugula, herbs
                                    and olives</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="menu-item bg-white shadow-on-hover">
                            <img src="images/item_4.jpg" alt="">
                            <div class="menu-item-content p-4">
                                <div>
                                    <span>Rated(5.4)</span>
                                    <span class="stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-fill"></i>
                                    </span>
                                </div>
                                <h5 class="mt-1 mb-2"><a href="#">Brocheta de Pollo a la mostaza</a></h5>
                                <p class="small">Baked salmon to a fresh salad made with chickpeas, arugula, herbs
                                    and olives</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="menu-item bg-white shadow-on-hover">
                            <img src="images/item_5.jpg" alt="">
                            <div class="menu-item-content p-4">
                                <div>
                                    <span>Rated(5.4)</span>
                                    <span class="stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-fill"></i>
                                    </span>
                                </div>
                                <h5 class="mt-1 mb-2"><a href="#">Pizza con morrones y panceta</a></h5>
                                <p class="small">Baked salmon to a fresh salad made with chickpeas, arugula, herbs
                                    and olives</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="menu-item bg-white shadow-on-hover">
                            <img src="images/item_6.jpg" alt="">
                            <div class="menu-item-content p-4">
                                <div>
                                    <span>Rated(5.4)</span>
                                    <span class="stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-fill"></i>
                                    </span>
                                </div>
                                <h5 class="mt-1 mb-2"><a href="#">Pollo braseado al horno</a></h5>
                                <p class="small">Baked salmon to a fresh salad made with chickpeas, arugula, herbs
                                    and olives</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="menu-item bg-white shadow-on-hover">
                            <img src="images/item_7.jpg" alt="">
                            <div class="menu-item-content p-4">
                                <div>
                                    <span>Rated(5.4)</span>
                                    <span class="stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-fill"></i>
                                    </span>
                                </div>
                                <h5 class="mt-1 mb-2"><a href="#">Hamburguesa completa con papas</a></h5>
                                <p class="small">Baked salmon to a fresh salad made with chickpeas, arugula, herbs
                                    and olives</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="menu-item bg-white shadow-on-hover">
                            <img src="images/item_8.jpg" alt="">
                            <div class="menu-item-content p-4">
                                <div>
                                    <span>Rated(5.4)</span>
                                    <span class="stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-fill"></i>
                                    </span>
                                </div>
                                <h5 class="mt-1 mb-2"><a href="#">Albondigas con ensalada verde</a></h5>
                                <p class="small">Baked salmon to a fresh salad made with chickpeas, arugula, herbs
                                    and olives</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade show" id="pills-breakfast" role="tabpanel" aria-labelledby="pills-breakfast-tab"
                tabindex="0">

                <div class="row gy-4">

                    <div class="col-lg-3 col-sm-6">
                        <div class="menu-item bg-white shadow-on-hover">
                            <img src="images/item_3.jpg" alt="">
                            <div class="menu-item-content p-4">
                                <div>
                                    <span>Rated(5.4)</span>
                                    <span class="stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-fill"></i>
                                    </span>
                                </div>
                                <h5 class="mt-1 mb-2"><a href="#">Tostadas con canela y Frutos secos</a></h5>
                                <p class="small">Baked salmon to a fresh salad made with chickpeas, arugula, herbs
                                    and olives</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="menu-item bg-white shadow-on-hover">
                            <img src="images/item_4.jpg" alt="">
                            <div class="menu-item-content p-4">
                                <div>
                                    <span>Rated(5.4)</span>
                                    <span class="stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-fill"></i>
                                    </span>
                                </div>
                                <h5 class="mt-1 mb-2"><a href="#">Brocheta de Pollo a la mostaza</a></h5>
                                <p class="small">Baked salmon to a fresh salad made with chickpeas, arugula, herbs
                                    and olives</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="menu-item bg-white shadow-on-hover">
                            <img src="images/item_5.jpg" alt="">
                            <div class="menu-item-content p-4">
                                <div>
                                    <span>Rated(5.4)</span>
                                    <span class="stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-fill"></i>
                                    </span>
                                </div>
                                <h5 class="mt-1 mb-2"><a href="#">Pizza con morrones y panceta</a></h5>
                                <p class="small">Baked salmon to a fresh salad made with chickpeas, arugula, herbs
                                    and olives</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="menu-item bg-white shadow-on-hover">
                            <img src="images/item_8.jpg" alt="">
                            <div class="menu-item-content p-4">
                                <div>
                                    <span>Rated(5.4)</span>
                                    <span class="stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-fill"></i>
                                    </span>
                                </div>
                                <h5 class="mt-1 mb-2"><a href="#">Albondigas con ensalada verde</a></h5>
                                <p class="small">Baked salmon to a fresh salad made with chickpeas, arugula, herbs
                                    and olives</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade show" id="pills-lunch" role="tabpanel" aria-labelledby="pills-lunch-tab"
                tabindex="0">
                <div class="row gy-4">
                    <div class="col-lg-3 col-sm-6">
                        <div class="menu-item bg-white shadow-on-hover">
                            <img src="images/item_3.jpg" alt="">
                            <div class="menu-item-content p-4">
                                <div>
                                    <span>Rated(5.4)</span>
                                    <span class="stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-fill"></i>
                                    </span>
                                </div>
                                <h5 class="mt-1 mb-2"><a href="#"></a>Tostadas con canela y Frutos secos</h5>
                                <p class="small">Baked salmon to a fresh salad made with chickpeas, arugula, herbs
                                    and olives</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="menu-item bg-white shadow-on-hover">
                            <img src="images/item_4.jpg" alt="">
                            <div class="menu-item-content p-4">
                                <div>
                                    <span>Rated(5.4)</span>
                                    <span class="stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-fill"></i>
                                    </span>
                                </div>
                                <h5 class="mt-1 mb-2"><a href="#">Brocheta de Pollo a la mostaza</a></h5>
                                <p class="small">Baked salmon to a fresh salad made with chickpeas, arugula, herbs
                                    and olives</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="menu-item bg-white shadow-on-hover">
                            <img src="images/item_7.jpg" alt="">
                            <div class="menu-item-content p-4">
                                <div>
                                    <span>Rated(5.4)</span>
                                    <span class="stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-fill"></i>
                                    </span>
                                </div>
                                <h5 class="mt-1 mb-2"><a href="#">Hamburguesa completa con papas</a></h5>
                                <p class="small">Baked salmon to a fresh salad made with chickpeas, arugula, herbs
                                    and olives</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="menu-item bg-white shadow-on-hover">
                            <img src="images/item_8.jpg" alt="">
                            <div class="menu-item-content p-4">
                                <div>
                                    <span>Rated(5.4)</span>
                                    <span class="stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-fill"></i>
                                    </span>
                                </div>
                                <h5 class="mt-1 mb-2"><a href="#">Albondigas con ensalada verde</a></h5>
                                <p class="small">Baked salmon to a fresh salad made with chickpeas, arugula, herbs
                                    and olives</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade show" id="pills-dinner" role="tabpanel" aria-labelledby="pills-dinner-tab"
                tabindex="0">
                <div class="row gy-4">

                    <div class="col-lg-3 col-sm-6">
                        <div class="menu-item bg-white shadow-on-hover">
                            <img src="images/item_3.jpg" alt="">
                            <div class="menu-item-content p-4">
                                <div>
                                    <span>Rated(5.4)</span>
                                    <span class="stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-fill"></i>
                                    </span>
                                </div>
                                <h5 class="mt-1 mb-2"><a href="#">Tostadas con canela y Frutos secos</a></h5>
                                <p class="small">Baked salmon to a fresh salad made with chickpeas, arugula, herbs
                                    and olives</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="menu-item bg-white shadow-on-hover">
                            <img src="images/item_4.jpg" alt="">
                            <div class="menu-item-content p-4">
                                <div>
                                    <span>Rated(5.4)</span>
                                    <span class="stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-fill"></i>
                                    </span>
                                </div>
                                <h5 class="mt-1 mb-2"><a href="#">Brocheta de Pollo a la mostaza</a></h5>
                                <p class="small">Baked salmon to a fresh salad made with chickpeas, arugula, herbs
                                    and olives</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="menu-item bg-white shadow-on-hover">
                            <img src="images/item_5.jpg" alt="">
                            <div class="menu-item-content p-4">
                                <div>
                                    <span>Rated(5.4)</span>
                                    <span class="stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-fill"></i>
                                    </span>
                                </div>
                                <h5 class="mt-1 mb-2"><a href="#">Pizza con morrones y panceta</a></h5>
                                <p class="small">Baked salmon to a fresh salad made with chickpeas, arugula, herbs
                                    and olives</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="menu-item bg-white shadow-on-hover">
                            <img src="images/item_8.jpg" alt="">
                            <div class="menu-item-content p-4">
                                <div>
                                    <span>Rated(5.4)</span>
                                    <span class="stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-fill"></i>
                                    </span>
                                </div>
                                <h5 class="mt-1 mb-2"><a href="#">Albondigas con ensalada verde</a></h5>
                                <p class="small">Baked salmon to a fresh salad made with chickpeas, arugula, herbs
                                    and olives</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


</section>

<!-- Características -->
<section id="caracteristicas" class="bg-cover">
    <div class="container">
        <div class="row">
            <div class="col-12 intro-text">
                <h1 class="text-white">Por que elegirnos </h1>
                <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. A ad nesciunt distinctio
                    saepe,
                    accusamus maxime reiciendis nisi.</p>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-lg-3 col-sm-6">
                <div class="feature p-4 text-center">
                    <div class="feature-icon">
                        <i class="ri-wifi-fill"></i>
                    </div>
                    <h4 class="text-white mt-4 mb-2">Wifi Libre</h4>
                    <p class="text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet sit velit fugit
                        quae natus.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="feature p-4 text-center">
                    <div class="feature-icon">
                        <i class="ri-timer-2-fill"></i>
                    </div>
                    <h4 class="text-white mt-4 mb-2">Delivery Rapido</h4>
                    <p class="text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet sit velit fugit
                        quae natus.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="feature p-4 text-center">
                    <div class="feature-icon">
                        <i class="ri-user-5-fill"></i>
                    </div>
                    <h4 class="text-white mt-4 mb-2">Amigables</h4>
                    <p class="text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet sit velit fugit
                        quae natus.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="feature p-4 text-center">
                    <div class="feature-icon">
                        <i class="ri-shield-star-fill"></i>
                    </div>
                    <h4 class="text-white mt-4 mb-2">Calificados</h4>
                    <p class="text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet sit velit fugit
                        quae natus.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Equipo -->
<section id="equipo">
    <div class="container">
        <div class="row">
            <div class="col-12 intro-text">
                <h1>Miembros de Nuestro Equipo</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A ad nesciunt distinctio saepe,
                    accusamus maxime reiciendis nisi.</p>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-lg-3 col-sm-6">
                <div class="team-member px-4 py-5 border shadow-on-hover text-center">
                    <img src="images/team_01.png" alt="">
                    <div class="team-member-content">
                        <h4 class="mb-0 mt-4">Carlos Caretti</h4>
                        <p class="mb-0">Chef Principal</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team-member px-4 py-5 border shadow-on-hover text-center">
                    <img src="images/team_02.png" alt="">
                    <div class="team-member-content">
                        <h4 class="mb-0 mt-4">Lucas Lopez</h4>
                        <p class="mb-0">Chef Ayudante</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team-member px-4 py-5 border shadow-on-hover text-center">
                    <img src="images/team_03.png" alt="">
                    <div class="team-member-content">
                        <h4 class="mb-0 mt-4">Juan Martinez</h4>
                        <p class="mb-0">Chef Asistente I</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team-member px-4 py-5 border shadow-on-hover text-center">
                    <img src="images/team_01.png" alt="">
                    <div class="team-member-content">
                        <h4 class="mb-0 mt-4">Cesar Diaz</h4>
                        <p class="mb-0">Chef Asistente II</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Reseña -->
<section id="reviews" class="bg-cover">
    <div class="container">
        <div class="row">
            <div class="col-12 intro-text">
                <h1 class="text-white">Nuestros Clientes Dicen</h1>
                <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. A ad nesciunt distinctio
                    saepe,
                    accusamus maxime reiciendis nisi.</p>
            </div>
        </div>

        <div id="reviewSlider" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#reviewSlider" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#reviewSlider" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>

            <div class="carousel-inner">

                <div class="carousel-item active">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="review bg-white p-5 text-center">
                                <div class="quote-icon"><i class="ri-double-quotes-l"></i></div>
                                <p class="mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic aperiam
                                    voluptatibus perspiciatis maiores cumque provident.</p>
                                <div class="person mt-4">
                                    <img src="images/avatar_01.jpg" alt="">
                                    <h4 class="mb-0 mt-2">Joaquin Torres</h4>
                                    <span class="stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-fill"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="review bg-white p-5 text-center">
                                <div class="quote-icon"><i class="ri-double-quotes-l"></i></div>
                                <p class="mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic aperiam
                                    voluptatibus perspiciatis maiores cumque provident.</p>
                                <div class="person mt-4">
                                    <img src="images/avatar_02.jpg" alt="">
                                    <h4 class="mb-0 mt-2">Mauro Pascal</h4>
                                    <span class="stars">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-fill"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#reviewSlider" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#reviewSlider" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
</section>

<!-- Reservacion -->
<section id="reserva">
    <div class="container">
        <div class="row">
            <div class="col-12 intro-text">
                <h1>Reserva tu Mesa</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A ad nesciunt distinctio saepe,
                    accusamus maxime reiciendis nisi.</p>
            </div>
        </div>
        <form class="row justify-content-center" action="/" method="post">
            <div class="col-lg-8">
                <div class="row g-3">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="nombre completo" name="nombre">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="email" class="form-control" placeholder="email" name="email">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="dia" name="dia">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="hora" name="hora">
                    </div>
                    <div class="form-group col-md-12">
                        <textarea id="" cols="30" rows="4" class="form-control" placeholder="mensaje"
                            name="mensaje"></textarea>
                    </div>
                    <div class="form-group text-center col-md-12">
                        <button type="submit" class="btn btn-brand">Enviar Mensaje</button>
                    </div>
                </div>
            </div>
        </form>
        <p>{{message}}</p>
    </div>
</section>

<!-- Publicacion Instantanea -->
<div class="row g-0">
    <div class="col-lg-3 col-sm-6">
        <div class="insta-post">
            <img src="images/insta_post01.jpg" alt="">
            <a href="#" class="insta-btn">
                <i class="ri-instagram-fill"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="insta-post">
            <img src="images/insta_post02.jpg" alt="">
            <a href="#" class="insta-btn">
                <i class="ri-instagram-fill"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="insta-post">
            <img src="images/insta_post03.jpg" alt="">
            <a href="#" class="insta-btn">
                <i class="ri-instagram-fill"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="insta-post">
            <img src="images/insta_post04.jpg" alt="">
            <a href="#" class="insta-btn">
                <i class="ri-instagram-fill"></i>
            </a>
        </div>
    </div>
</div>

<!-- Blog Post -->
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-12 intro-text">
                <h1>Blog Posts</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A ad nesciunt distinctio saepe,
                    accusamus maxime reiciendis nisi.</p>
            </div>
        </div>
        {{#each novedades}}
        <div class="row gy-4">
            <div class="col-sm-6">
                <div class="blog-post d-flex shadow-on-hover">
                    <img src="{{imagen}}" alt="">
                    <div class="blog-post-content p-4">
                        <p>Publicado: 22 Dec, 2020</p>
                        <h4><a href="#">{{titulo}}</a></h4>
                        <p>{{subtitulo}}</p>
                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#exampleModal{{id}}">
                        <img src="#" alt="">Leer más</a>
                    </div>
                </div>
            </div>
            {{/each}}
            <!--<div class="col-sm-6">
                    <div class="blog-post d-flex shadow-on-hover">
                        <img src="images/item_6.jpg" alt="">
                        <div class="blog-post-content p-4">
                            <p>Publicado: 23 Dec, 2021</p>
                            <h4><a href="#">Cómo hacer comida deliciosa</a></h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas veritatis!</p>
                            <a href="#">Leer más</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="blog-post d-flex shadow-on-hover">
                        <img src="images/item_7.jpg" alt="">
                        <div class="blog-post-content p-4">
                            <p>Publicado: 24 Dec, 2022</p>
                            <h4><a href="#">Cómo hacer comida deliciosa</a></h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas veritatis!</p>
                            <a href="#">Leer más</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="blog-post d-flex shadow-on-hover">
                        <img src="images/item_3.jpg" alt="">
                        <div class="blog-post-content p-4">
                            <p>Publicado: 25 Dec, 2023</p>
                            <h4><a href="#">Cómo hacer comida deliciosa</a></h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas veritatis!</p>
                            <a href="#">Leer más</a>
                        </div>
                    </div>
                </div>-->
            <!--Modal-->
            {{#each novedades}}
            <div class="modal fade" id="exampleModal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">{{titulo}}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="{{imagen}}" alt="">
                            <p>{{cuerpo}}</p>
                        </div>

                    </div>
                </div>
            </div> <!-- fin modal -->
            {{/each}}

        </div>
    </div>
</section>